@font-face{
	/*Fantastic font from Adilson Gonzalez of Brazil.
	His behance profile: https://www.behance.net/agonz*/
	font-family:"ailerons";
	src:url("assets/fonts/Ailerons-Typeface.ttf") format("truetype");
}

.font-ailerons{
	font-family:"ailerons";
}

.main-header{height:95%;}

.label-spacer::before {display:block; content:''; height:45%;}

.label-spacer{
	height:95%;
	padding-top:10%;
	padding-bottom:10%;
}

.navbar-option{
	cursor:default;
	position: absolute; 
	text-align: center; 
	width:19%;
	height:95%;
	color:#322A22;
	font-size:32px;
}

.submenu{
	margin-top:-10px;
	display:none;
}
.submenu-popup{
	display:none;
}

.submenu-option{
	font-size:24px;
	color:#322A22;
	width:100%;
	padding-top:20px;
}

.submenu-option:hover{
	font-size:28px;
}

.submenu-option:hover .submenu-popup{
	display:block;
	font-size:18px;
	margin-top:20px;
}

.main-content{
	display:none;
}



.page-link:hover{
	cursor:pointer;
}



.external-link-warning{
	display:none;
}
.external-link:hover{
	cursor:pointer;
}
.external-link:hover+ .external-link-warning{
	display:block;
	font-size:18px;
	margin-top:5px;
	margin-bottom:5px;
}

/*Main page dimensions*/
html, body{
	background-color:#EFEDEA;
	height:99%;
	width:99%;
}