/*Fantastic font from Adilson Gonzalez of Brazil.
His behance profile: https://www.behance.net/agonz*/
@font-face{
	font-family:"ailerons";
	src:url('../assets/fonts/Ailerons-Typeface?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Ailerons-Typeface.ttf') format("truetype"),
		url('../assets/fonts/Ailerons-Typeface.woff') format("woff"),
		url('../assets/fonts/Ailerons-Typeface.otf') format("opentype");
}

.font-ailerons{
	font-family:"ailerons";
}

.main-header{
	height:95%;
	width:100%;
}

.about-menu{
	position:absolute;
	text-align:center;
}

.partition{
	position:fixed;
	display:inline-block;
	width:50%;
}

.left-20{
	left:20px;
}
.left-100{
	left:100px;
}
.right-20{
	right:20px;
}
.right-100{
	right:100px;
}
.top-bot-200{
	top:200px;
	bottom:200px;
}

.partition > #at-work{
	text-align:center;
	top:45%;
	left:20%;
	font-size:48px;
}
.partition:hover > #at-work{
	top:0%;
	left:10%;
	right:10%;
	bottom:20%;
	font-size:72px;
}
.partition > #after-work{
	text-align:center;
	top:45%;
	right: 20%;
	font-size:48px;
}
.partition:hover > #after-work{
	top:0%;
	left:10%;
	right:10%;
	bottom:20%;
	font-size:72px;
}

/*copy/paste from base styles*/
.submenu{
	margin-top:-10px;
	display:none;
}
.submenu-popup{
	display:none;
}

.submenu-option{
	font-size:24px;
	color:#322A22;
	width:100%;
	padding-top:20px;
}

.submenu-option:hover{
	font-size:28px;
}
.submenu-option.has-menu:hover+.submenu-option{
	margin-top:100px;
}

.submenu-option:hover .submenu-popup{
	display:block;
	font-size:22px;
	margin-top:20px;
}
/*end copy/paste from base*/

.about-menu:hover>.submenu{ 
	display:block;
}
.about-menu:hover>.submenu>.submenu-option:hover>.submenu-popup{ 
	display:block; 
	font-size:18px;
}

.nested-menu-option{ 
	font-size:22px; 
	margin-right:20px; 
	margin-left:20px;
}

.nested-menu-option:hover{ 
	font-size: 28px; 
}
.nested-menu-option>.nested-menu-option-popup{ 
	display:none; 
	font-size:18px
}
.nested-menu-option:hover>.nested-menu-option-popup{ 
	position:absolute; 
	width:50%; 
	left:25%; 
	text-align:center; 
	display:block; 
	font-size:18px; 
	margin-top:20px;
}


html, body{
	background-color:#EFEDEA;
	height:99%;
	width:99%;
}