/*Fantastic font from Adilson Gonzalez of Brazil.
His behance profile: https://www.behance.net/agonz*/
@font-face{
	font-family:"ailerons";
	src:url('../assets/fonts/Ailerons-Typeface?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Ailerons-Typeface.ttf') format("truetype"),
		url('../assets/fonts/Ailerons-Typeface.woff') format("woff"),
		url('../assets/fonts/Ailerons-Typeface.otf') format("opentype");
}

.font-ailerons{
	font-family:"ailerons";
}

.main-header{height:95%;}

html, body{
	background-color:#EFEDEA;
	height:99%;
	width:99%;
}