
.resume{	text-align:center;	font-size:18px;	height:100%}
.change-settings{
	font-size:20px;
	margin-top:10px;
}
.setting-option{
	font-size:18px;
	margin-right:5px;
	margin-left:5px;
}


.resume-right{	position:absolute;	right:2.5%;	width:17.5%;}
.resume-left{	position:absolute;	left:2.5%;	width:27.5%;}
.resume-center{	position:absolute;	left:32.5%;	right:22.5%;}
.resume-header{	position:absolute;	top:2.5%;		height:7.5%;}
.resume-body{	position:absolute;	top:10%;	bottom:2.5%;}

.bottom{	position:inherit; bottom:5%; width:100%;}
/*From Stack Overflow Question #826782*/
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.one-of-two{
	padding-right:10%;
	padding-left:10%;
}
.button-left{
	border-width:0px 1px 1px 0px;
	border-color:#ADA7AD;
	border-style:solid;
}
.button-left:hover{
	cursor:pointer;
	font-size:22px;
}
.button-left:active{
	cursor:pointer;
	font-size:19px;
	border-width:1px 0px 0px 1px;
}
.button-right{
	border-width:0px 0px 1px 1px;
	border-color:#ADA7AD;
	border-style:solid;
}
.button-right:hover{
	cursor:pointer;
	font-size:22px;
}
.button-right:active{
	cursor:pointer;
	font-size:19px;
	border-width:1px 1px 0px 0px;
}
.button-interior{
	border-width:0px 1px 1px 1px;
	border-color:#ADA7AD;
	border-style:solid;
}
.button-interior:hover{
	cursor:pointer;
	font-size:22px;
}
.button-interior:active{
	cursor:pointer;
	font-size:19px;
	border-width:1px 0px 0px 0px;
}
.row-small{
	width:100%;
	height:18px;
}
.row-large{
	width:100%;
	height:40px;
}
.row-XL{
	width:100%;
	height:60px;
}
.row{
	position:relative;
	height:24px;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
	margin-top:1px;
	margin-bottom:1px;
}
.left-aligned{
	float:left;
	width:45%;
}
.right-aligned{
	float:right;
	width:45%;
}
.center-aligned{
	display:inline-block;
	width:80%;
	left:10%;
	right:10%;
}
.range-select-left{
	display:inline-block;
	width:50%;
}
.range-select-right{
	display:inline-block;
	width:50%;
}
.range-select-left:hover>.range-label{
	font-size:22px;
}
.range-select-left:hover .right-aligned:hover{
	font-size:22px;
}
.range-select-left:hover .left-aligned:hover{
	font-size:22px;
}
.range-select-right:hover>.range-label{
	font-size:22px;	
}
.range-select-right:hover .right-aligned:hover{
	font-size:22px;
}
.range-select-right:hover .left-aligned:hover{
	font-size:22px;
}
.section-divider-vertical-small{
	height:1px;
	position:relative;
	left:10%;
	width:80%;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#ADA7AD;
	text-align: center;
}
.section-divider-vertical-large{
	height:3px;
	position:relative;
	left:0%;
	width:100%;
	margin-top:10px;
	margin-bottom:15px;
	background-color:#ADA7AD;
	text-align: center;
}
.section-spacer-end-small{
	margin-bottom:20px;
}
.section-spacer-end{
	margin-bottom:30px;
}
.circle-delimiter{
	display:inline-block;
	min-width:6px;
	min-height:6px;
	border-width:3px;
	border-radius:3px;
	border-color:black;
	background-color:black;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:3px;}


.section-label-small{
	text-align:center;
	font-size:24px;
	font-weight:200;
}
.section-label-large{
	text-align:center;
	font-size:32px;
	font-weight:200;
}

.underlined{
	border-style:solid;
	border-width:0px 0px 1px 0px;
}

.popup-menu{
	display:none;
	position:absolute;
	font-size:16px;
	top:0%;
	padding-top:26px;
	border-style:solid;
}
.button-right:active + .popup-menu{
	display:block;
	background-color:#EFEDEA;
	width:45%;
	right:0%;
	z-index:2;
	border-width:0px 1px 1px 1px;
}
.button-left:active + .popup-menu{
	display:block;
	background-color:#EFEDEA;
	width:45%;
	left:0%;
	z-index:4;
	border-width:0px 1px 1px 1px;
}
.button-interior:active + .popup-menu{
	display:block;
	background-color:#EFEDEA;
	width:80%;
	left:10%;
	right:10%;
	z-index:2;
	border-width:0px 1px 1px 1px;
}
.popup-menu:hover{
	display:block;
	background-color:#EFEDEA;
	z-index:2;
}
.popup-menu:hover > .popup-option:hover{
	font-size:18px;
}

.main-header{height:95%;}
html, body{
	background-color:#EFEDEA;
	height:99%;
	width:99%;
}

/*Fantastic font from Adilson Gonzalez of Brazil.
His behance profile: https://www.behance.net/agonz*/
@font-face{
	font-family:"ailerons";
	src:url('../assets/fonts/Ailerons-Typeface?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Ailerons-Typeface.ttf') format("truetype"),
		url('../assets/fonts/Ailerons-Typeface.woff') format("woff"),
		url('../assets/fonts/Ailerons-Typeface.otf') format("opentype");
}
.font-ailerons{
	font-family:"ailerons";
}